n8n/workflows/01_gatekeeper.json
{
  "name": "01 - Gatekeeper (Ingest All Forms)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ingest",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "ingest-gatekeeper"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://wash-automation.preview.emergentagent.com/api/automation/ingest",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "={{$json}}",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "id": "http-request",
      "name": "Process via CRM API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [640, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Process via CRM API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process via CRM API": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "triggerCount": 0
}
