n8n/workflows/01_gatekeeper.json
{
  "name": "01_Gatekeeper_Ingest",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ingest-webhook",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.CRM_API_URL}}/api/n8n/process/full",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "process-full",
      "name": "Process Full Ingest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "duplicate"
            }
          ]
        }
      },
      "id": "check-duplicate",
      "name": "Check Duplicate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [750, 300]
    },
    {
      "parameters": {},
      "id": "end-duplicate",
      "name": "End (Duplicate)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.route_result }}",
              "operation": "equals",
              "value2": "ORDER"
            }
          ]
        }
      },
      "id": "route-switch",
      "name": "Route Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [1000, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Process Full Ingest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Full Ingest": {
      "main": [
        [
          {
            "node": "Check Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate": {
      "main": [
        [
          {
            "node": "End (Duplicate)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-08T00:00:00.000Z",
  "versionId": "1"
}
