n8n/workflows/02_daily_summary.json
{
  "name": "12 - Daily Summary Report (7am)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily at 7am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://pos-laundry-sys.preview.emergentagent.com/api/automation/daily-summary",
        "options": {}
      },
      "id": "get-summary",
      "name": "Get Daily Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "operation": "send",
        "subject": "=Daily Operations Summary - {{ $now.format('MMMM D, YYYY') }}",
        "emailType": "html",
        "message": "=<h2>Daily Operations Summary</h2>\n<p>Generated: {{ $json.generated_at }}</p>\n\n<h3>📦 Orders</h3>\n<ul>\n<li>New Today: <strong>{{ $json.orders.new_today }}</strong></li>\n<li>Pickups Today: <strong>{{ $json.orders.pickups_today }}</strong></li>\n<li>Unassigned: <strong>{{ $json.orders.unassigned }}</strong></li>\n</ul>\n\n<h3>🎫 Tickets</h3>\n<ul>\n<li>Open: <strong>{{ $json.tickets.open }}</strong></li>\n<li>High Priority: <strong>{{ $json.tickets.high_priority }}</strong></li>\n<li>SLA at Risk: <strong style='color:red'>{{ $json.tickets.sla_at_risk }}</strong></li>\n</ul>\n\n<h3>💼 B2B Quotes</h3>\n<ul>\n<li>Pending Follow-up: <strong>{{ $json.quotes.pending_followup }}</strong></li>\n</ul>\n\n<h3>📈 Leads</h3>\n<ul>\n<li>New Today: <strong>{{ $json.leads.new_today }}</strong></li>\n</ul>\n\n<p><a href='https://pos-laundry-sys.preview.emergentagent.com/admin'>Open Dashboard →</a></p>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "send-email",
      "name": "Send Summary Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [640, 300],
      "disabled": true,
      "notesInFlow": true,
      "notes": "Enable after configuring Gmail credentials"
    }
  ],
  "connections": {
    "Daily at 7am": {
      "main": [
        [
          {
            "node": "Get Daily Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Daily Summary": {
      "main": [
        [
          {
            "node": "Send Summary Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "triggerCount": 0
}
