n8n/workflows/03_sla_monitor.json
{
  "name": "09 - SLA Monitor (Every Hour)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "hourly-trigger",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://clean-management-4.preview.emergentagent.com/api/automation/sla-alerts",
        "options": {}
      },
      "id": "get-sla",
      "name": "Get SLA Alerts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.total_at_risk }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "check-alerts",
      "name": "Has Alerts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "operation": "send",
        "subject": "=⚠️ SLA Alert: {{ $json.total_at_risk }} tickets at risk",
        "emailType": "html",
        "message": "=<h2>⚠️ SLA Alert</h2>\n<p>{{ $json.total_at_risk }} ticket(s) are at risk of missing SLA</p>\n\n<h3>Past SLA ({{ $json.past_sla.length }})</h3>\n{{ $json.past_sla.map(t => '<p>• ' + t.ticket_id + ' - ' + t.subject + ' (Priority: ' + t.priority + ')</p>').join('') }}\n\n<h3>Approaching SLA ({{ $json.approaching_sla.length }})</h3>\n{{ $json.approaching_sla.map(t => '<p>• ' + t.ticket_id + ' - ' + t.subject + ' (Deadline: ' + t.sla_deadline + ')</p>').join('') }}\n\n<p><a href='https://clean-management-4.preview.emergentagent.com/admin/tickets'>View Tickets →</a></p>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "send-alert",
      "name": "Send Alert Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [860, 200],
      "disabled": true,
      "notesInFlow": true,
      "notes": "Enable after configuring Gmail credentials"
    },
    {
      "parameters": {},
      "id": "no-op",
      "name": "No Action",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [860, 400]
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [
          {
            "node": "Get SLA Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SLA Alerts": {
      "main": [
        [
          {
            "node": "Has Alerts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Alerts?": {
      "main": [
        [
          {
            "node": "Send Alert Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "triggerCount": 0
}
